//animations
.animated:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color: #fff;
}

.animated-links:hover{
    transform: scale(1.20);
    animation: heartBeat;
    animation-duration: 1.5s;
}

.animated-a:hover{
    animation: pulse;
    animation-duration: 0.5s;
}