@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); 
//font-family: 'Zen Dots', cursive;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
//font-family: 'Noto Sans', sans-serif;


//global-body
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-image: url(../img/fondo-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



//text
.title{
    text-align: center;
    font-family: 'Zen Dots', cursive !important;
    font-size: 2rem !important;
}

.subtitle{
    @extend p;
    font-size: 1.5rem !important;
    font-weight: bold;
}

p{
    color: #FFF;
    line-height: 1.6 !important;
    font-family: 'Noto Sans', sans-serif !important;
    margin: 0;
    padding: 0;
}


//banners
.banner{
    @extend .effect-fade;
    padding: 2rem;
    border-radius: 20px;
}

//hr
@mixin hr ($weight:1px, $color:#fff, $width:100%){
    border: $weight solid $color;
    width: $width;
}

.hr-1{
    @include hr(1px, #fff);
}
.hr-2{
    @include hr(2px, #fff);
}
.hr-3{
    @include hr(3px, #191919);
}
.hr-4{
    @include hr(4px, #865);
}
.hr-5{
    @include hr(5px, #982);
}

//links
a{
    text-decoration: none;
    font-size: 1.1rem !important;
}

//form
.input{
    color: #fff;
    width: 800px;
    border: none;
}

@media(max-width:872px){
    .input{
        width: 17rem;
    }
}

.input::placeholder{
    color: #fff;
}

